.icoinfo {
    h1 {
        font-size: 40px;
        color:  #474b6d;
        font-weight: 700;
        line-height: 39px;
        margin-bottom: 50px;
        padding-top: 100px;
    }
    h2 {
        font-size: 35px;
        color: #474b6d;
        font-weight: 300;
        margin: 0 0 14px;
        line-height: 30px;
    }

    p {
        font-size: 14px;
        padding-bottom: 20px;
        margin: 0;
    }
}