// .btn-inner {
//     a.btn {
//         line-height: 33px
//     }
// }

.token-wrap .icon-block {
  height: 40px;
}

.blog__details--content {
  h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 36px;
    margin-top: 45px;
    margin-bottom: 8px;
  }
  ul {
    margin-left: 1.5rem;
    list-style: disc;
    margin-bottom: 1rem;
    li {
      padding-left: 0.2rem;

      font-size: 16px;
      color: #44516d;
      line-height: 28px;
    }
  }
  img {
    float: right;
    max-width: 100%;
    height: auto;
    width: 100%;
    margin: 1rem 0;

    @media only screen and (min-width: 768px) {
      width: initial;
      margin: 1rem -5rem 1rem 2rem;
      max-width: 50%;
    }
  }
  em {
    font-style: italic;
  }

  table {
    font-size: 16px;
    color: #44516d;
    line-height: 23px;
    thead tr {
      border-bottom: 2px solid #44516d;
    }
    th,
    td {
      padding: 0.2rem 1rem;
    }
    th {
      font-weight: bold;
    }
  }
  blockquote {
    background-color: #e0eff6;
    border-left: 1rem solid #cbe3ef;
    margin: 0 0 1rem 0;
    padding: 1rem;
    line-height: 1.1;
    p {
      margin-bottom: 0.5rem;
    }
  }
}

.banner {
  .button-pane {
    @media only screen and (max-width: 767px) {
      flex-wrap: wrap !important;
    }
    .btn-inner {
      margin-bottom: 1.5rem;
      &:not(:last-child) {
        .btn {
          margin-right: 1rem;
        }
      }
    }
  }
}

.banner {
  .hero-banner {
    .progress-block {
      padding-top: 1rem;
      text-align: center;
      text-transform: uppercase;
  
      &.hideToken {
        display: none;
      }
      @media only screen and (min-width: 768px) {
        &.hideToken {
          display: block;
          visibility: hidden;
        }
      }
    }
    .hero-left {
      .btn-group {
        margin:2rem;
        a {
          color: black;
        }
      }
    }
    .hero-right {
      .btn-group {
        margin:1rem;
        a {
          border-color:#c7c8cd;
        }
      }
    }
    
    .intro-quicklinks {
      padding-top:15px;
      padding-bottom:2rem;
      font-size: 14px;
    }
    
    h1 {
      padding-top:1rem;   
    }
    .hero-left {
      h1 {
        padding-top:2rem;  
        @media only screen and (min-width: 768px) {
          padding-top:1rem;  
        } 
      }
      
    }

    .hero-right {
      background-color: #213262;
      color:white;
      padding-right:1rem;
      padding-left: 1rem;

      h1, p, span {
        color: white;
      }
    }
    
    .hero-block {
      .slogan-explain {
        max-width: 41rem;
      }
    }

    .logo {
      height: 7ex;
    }
  }
}

#newsletter {
  .form-control {
    display: inline;
  }
}

.investors-card {
  a {
    text-decoration: none;
    color: rgb(46, 48, 66);
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.banner .hero-banner {
  //padding: 100px 0 0 0;
  margin-top: 100px;

  .hero-block .time-block {
    justify-content: center;
  }
  
  .hero-block {
    display:block;
    text-align:center;
  }
  .logo {
    margin-top: 2rem;
    margin-bottom: 1rem;
    @media only screen and (min-width: 768px) {
      margin-top: 3rem;
      margin-bottom: 0rem;
    }
  }
}

.video-wrapper { /*https://andrew.hedges.name/experiments/aspect_ratio/*/
  max-width: 400px;
  max-height: 300px;

  min-width: 50px;
  min-height: 50px;
  
}

.text-center .video-wrapper {
  margin: 0 auto;
}

.no-padding-lr {
  @media only screen and (min-width: 768px) {
    padding-left:0;
    padding-right:0;
  }
}

.crowdfinancing .crowdfinancing-inner {
  padding-top:0;

  .section-header h2 {
    padding-top:1rem;
  }
}

.video-demonstration {
  padding-top:1rem;
  padding-bottom:10px;
}

.crowdfinancing .crowdfinancing-inner .row .about-content {
  padding-top: 0;
}