// .btn-inner {
//     a.btn {
//         line-height: 33px
//     }
// }

.token-wrap .icon-block {
  height: 40px;
}
.blog__details--content {
  ul {
    margin-left: 1.5rem;
    list-style: disc;
    margin-bottom: 1rem;
    li {
      padding-left: 0.2rem;

      font-size: 16px;
      color: #44516d;
      line-height: 28px;
    }
  }
  img {
    float: right;
    max-width: 100%;
    height: auto;
    width: 100%;
    margin: 1rem 0;

    @media only screen and (min-width: 768px) {
      width: initial;
      margin: 1rem -2rem 1rem 1rem;
    }
  }
}

.hero-banner {
  .button-pane .btn-inner:not(:last-child) {
    .btn {
      margin-right: 1rem;
    }
  }
}
