// .btn-inner {
//     a.btn {
//         line-height: 33px
//     }
// }

.token-wrap .icon-block {
  height: 40px;
}
.blog__details--content {
  h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 36px;
    margin-top: 45px;
    margin-bottom: 8px;
  }
  ul {
    margin-left: 1.5rem;
    list-style: disc;
    margin-bottom: 1rem;
    li {
      padding-left: 0.2rem;

      font-size: 16px;
      color: #44516d;
      line-height: 28px;
    }
  }
  img {
    float: right;
    max-width: 100%;
    height: auto;
    width: 100%;
    margin: 1rem 0;

    @media only screen and (min-width: 768px) {
      width: initial;
      margin: 1rem -2rem 1rem 1rem;
    }
  }

  table {
    font-size: 16px;
    color: #44516d;
    line-height: 23px;
    thead tr {
      border-bottom: 2px solid #44516d;
    }
    th,
    td {
      padding: 0.2rem 1rem;
    }
    th {
      font-weight: bold;
    }
  }
  blockquote {
    background-color: #e0eff6;
    border-left: 30px solid #cbe3ef;
    margin: 0 0 1rem 0;
    padding: 1rem;
    line-height: 1.1;
    p {
      margin-bottom: 0.5rem;
    }
  }
}

.hero-banner {
  .button-pane {
    @media only screen and (amx-width: 767px) {
      flex-wrap: wrap;
    }
    .btn-inner {
      margin-bottom: 1.5rem;
      &:not(:last-child) {
        .btn {
          margin-right: 1rem;
        }
      }
    }
  }
}
